
.pagina2 .titulo2 {
    font-weight: bold;
    background: linear-gradient(90deg, #ac47ff, #ff3992);
    -webkit-background-clip: text;  
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 60px;
}


.pagina2 .texto {
    font-weight: bold;
    color: rgb(255, 255, 255);  
    font-size: 35px;
}

.pagina2 .textoP {
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-size: 22px;
}

.pagina2 {
    display: flex;
    flex-direction: column;
 width: 100%;
 min-height: 100vh;       
  min-height: 100dvh; 
  margin: 0;
  padding: 0;
    background: url(../assets/imagem1.jpg)

}


html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}


.buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 50px;
    background-color: transparent
    ;
    

    align-items: center;
}

.btn {
    padding: 12px 20px;
    border-radius: 12px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    width: 80%;     
    text-align: center;  
}


.btn.primary {
    background: linear-gradient(90deg, #9d4edd, #f72585);
    color: white;
    transition: 0.8s, transform 0.8s;
}

.btn.primary:hover {
    background: linear-gradient(90deg, #f72585, #9d4edd);
    transform: scale(1.05);
}

.btn.secondary {
    border: 2px solid white;
    color: rgb(199, 199, 199);
    background: transparent;
    transition: 0.3s;
}

.btn.secondary:hover {
    color: rgb(255, 255, 255);
}
