.container-swipe {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: visible;
}

.swiper-area {
  width: 100%;
  height: 100%;
}

/* Barra inferior dividida em 3 partes */
.menu-inferior-blocos {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 55px;
  display: flex;
  z-index: 999;
}

/* Cada bloco */
.bloco {
  flex: 1; /* divide igualmente */
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../assets/imagem2.jpg);/* cor destaque */

  overflow: hidden;
  color: #ccc;
  font-size: 18px;
  transition: 0.5s ease,
    transform 0.3s ease; /* transição suave */

  
}
.bloco img {
  width: 15%;
  height: 100%;
  object-fit: cover;
  
}
@media (max-width: 1023px) {
  .bloco img {
    width: 40%;
  }
}

/* Quando está selecionado */
.bloco.ativo {
  transform: translateY(-3px); /* levanta o bloco */
  background-image: url(../assets/imagem1.jpg);


  color: white;
}
.swiper-slide {
  overflow-y: auto !important;
  height: 100%;
}


