.pagina7 {
  min-height: 100vh;
  width: 100%;
  margin: 0;
  background: url(../assets/fundo.jpg)
  
  
}
.folder-content  { 
    border: 1px solid black;
    border-spacing: 10px 0 0;
    border-collapse: collapse;
    color: white;
    align-content: center;
    justify-content: space-between;
       
}
td,tr,th {
    border: 1px solid rgb(160, 134, 134);
    padding: 3.5px;
    
}
@media (min-width: 768px) {
    .pagina7 .folder-content table{
    margin-left: 120px;
}}

 
@media (min-width: 768px) {
  .pagina7 td,tr,th {
    padding: 30px; 
    
  }
}



/* Folder ocupa toda a parte de cima */
.folder {
  width: 100%;
  height: 60%;  /* ⬅️ Aqui você decide o quanto da tela ocupa */
  background: #2c2c2c;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
  box-shadow: 0 4px 12px #0006;
}

/* Se quiser ocupar exatamente a metade da tela */
.folder.aberto {
  height: auto;
}

/* CABEÇALHO */
.folder-header {
  padding: 20px;
  background: #0d1f85;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.folder-header h3 {
  color: white;
  margin: 0;
}

.seta {
  color: white;
  font-size: 20px;
  transition: transform 0.5s ease;
}

.seta.girar {
  transform: rotate(180deg);
}

/* CONTEÚDO */
.folder-content {
  max-height: 0;
  overflow: hidden;
  padding: 0 20px;
  transition: max-height 0.9s ease;
  background-image: url(../assets/imagem2.jpg);/* cor destaque */

}

.folder-content.mostrar {
  max-height: 400px;
  padding: 20px;
}

.folder-content p {
  color: white;
  margin: 10px 0;
}

.pagina7 .avatar-imagem {
  border-radius: 250px;
width: 18%;
    display: flex;
}

.pagina7 .avatar {
  display: flex;
  gap: 20px;
  

}
@media (min-width: 768px) {
  .pagina7 .avatar-imagem {
    width: 8%;   /* coloque o tamanho que você quer no desktop */
  }
}


.pagina7 .barra {
  width: 60%;
    height: 35px;
    align-items: center;
    margin-top: 10px;
 
}

.pagina7 .status {
    color: antiquewhite;
}
