.pagina4 {
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 30px;
  background: url(../assets/fundoGenero.jpg)
  
}
.pagina5-bg {
  background: url(../assets/fundoGenero2.jpg);
}

.pagina4 .texto {
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 25px;
    width: 80%;

    
}
.pagina4 .titulo {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    color: white;
    text-align: center;
    width: 80%;

}
.pagina4 .imagem-principal {
    width: 80%;
    height: auto;
    border-radius: 11px;
    border-radius: 100px;
    
    
}
.pagina4 .avatar-imagem {
  border-radius: 250px;
  align-items: center;
width: 80%;  
}

@media (min-width: 768px) {
  .pagina4 .avatar-imagem {
    width: 40%;   /* coloque o tamanho que você quer no desktop */
  }
}
.pagin4 .inputs-user {
   
    background-color: aliceblue;
}
.pagina4 .nome {
  color: white;
}

.pagina4 .opcoes-avatar {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;  
  margin-top: 20px;
  width: 77%; 
  padding: 10px;


}
.pagina4 .avatar-opcao {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  margin: -10px;
  cursor: pointer;

  
}
.pagina4 .opcao {
  display: flex;
  flex-direction: column;
}
.pagin4 .legenda-opcao {
  color: #000;
}

.pagina4 .imputs {
  margin-top: 20px;
  display: flex;
  width: 100%;
 height: 40px;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
@media (min-width: 768px) {
  .pagina4 .imputs {
    width: 78%;   /* coloque o tamanho que você quer no desktop */
  }
}


.pagina4 .genero-icon {
  width: 70px;
  height: 70px;
  margin-right: 100px;
  cursor: pointer;
  border-radius: 200px;

}

button {
    background: linear-gradient(90deg, #9d4edd, #f72585);
    width: 80%;
    color: white;
    margin-top: 20px;
    
  }





