.pagina3 {
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 1px;
  background: url(../assets/imagem2.jpg);
  
}
.logo-container {
  border-radius: 180px;
    margin-bottom: 40px;
    width: 80px; /* ajuste o tamanho conforme necessário */
    height: 80px; /* ajuste o tamanho conforme necessário */
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    position: relative; 
    margin-top: 90px;
     
  }

.pagina3 .logo {
    background: linear-gradient(90deg, #ac47ff, #ff3992); /* corrigido */
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.3);
    transform-origin: center;
    padding: 0px;

}

.pagina3 .titulo {
    color:  rgb(255, 235, 235);
    text-align: center;
    font-size: 20px;
    
}
/* Para garantir que nada ultrapasse a tela */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}
.pagina3 .link {
  color: rgb(185, 179, 179);
}

