.pagina3 {
      min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 30px;
  background-color: rgb(255, 255, 255);


}
.pagina3 .titulo {
    color: rgb(196, 3, 3);
    text-align: center;
}
/* Para garantir que nada ultrapasse a tela */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

